<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns:mvc="http://www.springframework.org/schema/mvc"-->


       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd-->
        <!--http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">-->

    <!--<context:component-scan base-package="com.softserveinc.ita"/>-->
    <!--<mvc:annotation-driven/>-->

    <!--&lt;!&ndash;For @Annotation-based configuration&ndash;&gt;-->
    <!--<context:annotation-config/>-->

    <!--&lt;!&ndash; For bean-components (@Component, @Service)  &ndash;&gt;-->
    <!--<context:component-scan base-package="com.softserveinc.ita.interviewfactory.dao"/>-->
    <!--<context:component-scan base-package="com.softserveinc.ita.interviewfactory.service"/>-->

    <!--<context:component-scan base-package="com.softserveinc.ita.config"/>-->


    <!--<bean id="httpRequestExecutor" class="com.softserveinc.ita.interviewfactory.HttpRequestExecutorFactoryMock" >-->
        <!--<constructor-arg name="baseUrl" value="http://localhost:8080"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;aux/utils&ndash;&gt;-->

    <!--<bean id="interviewUtilJson" class="com.softserveinc.ita.utils.impl.InterviewJsonUtilGsonImpl"/>-->
    <!--&lt;!&ndash;external services&ndash;&gt;-->

    <!--<bean id="interviewFactory" class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">-->
        <!--<property name="serviceLocatorInterface" value="com.softserveinc.ita.interviewfactory.factory.InterviewFactory" />-->
    <!--</bean>-->

<!--</beans>-->