<html>
<body>
<img src='cid:ItAcademyLogo'>


<h1>Dear ${name} ${surname} ! </h1>

SoftServe, Inc. is pleased to inform that you have successfully passed all entrance interviews and exams.
We would like to invite you to study at our IT Academy for ${course} direction.
We offer you an opportunity to gain new knowledge and skills that are necessary for successful start at
our company and will help you in your further professional development.

We will be waiting for You at ${courseAddress} (link) at ${groupStartTime}  on ${groupStartDate}.
On the reception please call ${assistantSurname} ${assistantName}. The number is ${assisteatPhone}. He will meet you.

SoftServe Team