<html>
<body>
<img src='cid:ItAcademyLogo'>


<h1>Dear ${name} ${surname} ! </h1>

We are pleased to invite You for an Interview with expert.
<br>
We will be waiting for You at Dehtyarivska Str. 33V
at ${time} , ${date}.
<br>
On the reception please ask for recruiter assistant ${assistentName} ${assistentSurname}. I will meet you.
<br>
To review map and extended address please visit our website. <a href="https://softserve.ua/ru/university/it-academy/">It
    Academy</a>
<br>
If you have any questions, please feel free to contact me at any time. My phone number is ${assistentPhone}.
<br>
<br>
SoftServe Team

</body>
</html>