div.outter{
    position:relative;
    width:940px;
    margin-top: 10px;
}
.viewName {float: left;}

span.points {
    float: right;
}

div.schedule button {
    top: -10px;
}

dl.addingApplicant {margin-bottom: 20px !important;}
dl.addingSchedule {margin-bottom: 60px !important;}
.schedule dl {margin-bottom: 15px !important;}
.schedule dl dt {width: 77px !important;}

dl {
    float: left;
    display: block;
    width: 250px;
    margin-top: 0;
}

dl dt {
    clear: both;
    float: left;
    text-align: right;
    width: 95px;
    position: relative;
    display: block;
    margin-top: 5px;
    height: 35px;
}

dl dd {
    float: right;
    margin-left: 5px;
    margin-top: 0;
    width: 150px;
    position: relative;
    display: block;
    height: 35px;
}

div.ui-accordion {
    margin-top: 10px;
}

.done {
    position: relative;
    /*top: -25px;*/
    float: right;
    margin-top: 12px;
    margin-left: 20px;
}

button.scheduleView {
    position: relative;
    /*top: -28px;*/
    /*left: 885px;*/
    float: right !important;
    margin-top: 12px !important;
    margin-left: 10px !important;
    display: block !important;
}

button.addUser>.ui-button-text, button.removeUser>.ui-button-text {padding: .4em .2em}



.notify, .editAppointment, .postAppointment {
    width: 107px;
}
.notify>.ui-button-text, .editAppointment>.ui-button-text, .postAppointment>.ui-button-text {
    padding: .4em .2em;
}

div.wrapper {
    min-width: 1200px;
}

select {
    width: 210px;
    float: left;
}

div.applicant {
    position: relative;
    height: 300px;
    min-height: 300px;
}

div.profile {
    min-height: 250px;
    width: 450px;
    position: relative;
    float: left;
    margin-right: 50px;
}

div.schedule {
    word-wrap: break-word;
    position: absolute;
    top: 14px;
    right: 0px;
    min-height: 250px;
    width: 400px;
}
.interviewed .applicant .schedule {
    max-height: 200px;
    min-height: 10px;
    width: 320px;
}

div.info {
    min-height: 250px;
    width: 250px;
    float: left;
}

div.image {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 50px;
}

/*body {*/
    /*font: 62.5% "Trebuchet MS", sans-serif;*/
    /*margin: 50px;*/
    /*min-width: 500px;*/
/*}*/

/*input {*/
    /*border-top-left-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
    /*border: solid #777 1px;*/
    /*line-height: 20px;*/
    /*background: #fff;*/
    /*-webkit-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, .05);*/
    /*-moz-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0px 2px 0px rgba(0, 0, 0, .05);*/
    /*color: #777;*/
    /*text-shadow: 0px 1px 0px #fff;*/
/*}*/

/*.NFI-filename {*/
    /*border-left: none;*/
    /*width: 40px;*/
    /*height: 20px;*/
    /*border-top-left-radius: 0px;*/
    /*border-bottom-left-radius: 0px;*/
/*}*/

/*.NFI-button {*/
    /*background-color: #DD9201;*/
    /*background-image: linear-gradient(bottom, #A37417 0%, #DD9201 56%);*/
    /*background-image: -o-linear-gradient(bottom, #A37417 0%, #DD9201 56%);*/
    /*background-image: -moz-linear-gradient(bottom, #A37417 0%, #DD9201 56%);*/
    /*background-image: -webkit-linear-gradient(bottom, #A37417 0%, #DD9201 56%);*/
    /*background-image: -ms-linear-gradient(bottom, #A37417 0%, #DD9201 56%);*/
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #A37417), color-stop(0.56, #DD9201));*/
    /*text-shadow: none;*/
    /*border: solid #bb7200 1px;*/
    /*border-bottom: solid #995200 1px;*/

    /*overflow: hidden;*/
    /*position: relative;*/
    /*display: block;*/
    /*float: left;*/
    /*white-space: nowrap;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*width: 60px;*/
    /*height: 20px;*/
    /*line-height: 20px;*/
    /*border: solid #bb7200 1px;*/
    /*border-top-left-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
/*}*/

form {
    display: inline;
}

.add {
    position: relative;
    top: -10px;
}

.addUser, .removeUser {
    margin-left: 10px;
    width: 110px;
}

.interview {
    clear: both;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

.editApplicant {
    width: 60px;
}

.openCV {
    width: 150px;
    position: absolute;
    top:210px;
    left:0px;
}

.interviewed .applicant .openCV {
    top:158px;
}

.interviewed .applicant {height: 210px !important; min-height: 210px !important;}
.interviewed .applicant .profile {height: 210px !important; min-height: 210px !important;}
.interviewed .applicant .info {height: 210px !important; min-height: 210px !important;}
.interviewed .applicant .profile dl.addingSchedule {margin-bottom: 10px !important;}

.employ {
    float: right;
    font-size: 1em;
}

a.employ{
    text-decoration: underline;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}

.file-wrapper .button {
    background: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px 10px;
    text-transform: uppercase;
}

.applicantContainer {margin-bottom: 10px;}

input.theMostImportantSomething {width:235px; height:30px !important; min-height: 30px !important; background-color: #ffffff; padding: 5px;}

.ui-selectmenu-button span.ui-selectmenu-text {padding: 0.2em 2.1em 0.2em 1em !important;}