div.ui-accordion {
    margin-top: 10px;
}

div.wrapper {
    min-width: 1200px;
}

div.outter {
    position: relative;
    width: 940px;
    margin-top: 10px;
}

div.applicant {
    position: relative;
    height: 300px;
    min-height: 300px;
}

div.profile {
    min-height: 250px;
    width: 450px;
    position: relative;
    float: left;
    margin-right: 50px;
}

div.schedule {
    word-wrap: break-word;
    position: absolute;
    top: 14px;
    right: 0;
    min-height: 250px;
    width: 400px;
}

div.info {
    min-height: 250px;
    width: 250px;
    float: left;
}

div.image {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 50px;
}

dl.addingApplicant {
    margin-bottom: 20px !important;
}

dl.addingSchedule {
    margin-bottom: 60px !important;
}

.schedule dl {
    margin-bottom: 15px !important;
}

.schedule dl dt {
    width: 77px !important;
}

dl {
    float: left;
    display: block;
    width: 250px;
    margin-top: 0;
}

dl dt {
    clear: both;
    float: left;
    text-align: right;
    width: 95px;
    position: relative;
    display: block;
    margin-top: 5px;
    height: 35px;
}

dl dd {
    float: right;
    margin-left: 5px;
    margin-top: 0;
    width: 150px;
    position: relative;
    display: block;
    height: 35px;
}

.viewName {
    float: left;
}

span.points {
    float: right;
}

div.schedule button {
    top: -10px;
}

.done {
    position: relative;
    float: right;
    margin-top: 12px;
    margin-left: 20px;
}

button.scheduleView {
    position: relative;
    float: right !important;
    margin-top: 12px !important;
    margin-left: 10px !important;
    display: block !important;
}

button.addUser > .ui-button-text, button.removeUser > .ui-button-text {
    padding: .4em .2em
}

.notify, .editAppointment, .postAppointment {
    width: 107px;
}

.notify > .ui-button-text, .editAppointment > .ui-button-text, .postAppointment > .ui-button-text {
    padding: .4em .2em;
}

select {
    width: 210px;
    float: left;
}

.interviewed .applicant .schedule {
    max-height: 200px;
    min-height: 10px;
    width: 320px;
}

form {
    display: inline;
}

.add {
    position: relative;
    top: -10px;
}

.addUser, .removeUser {
    margin-left: 10px;
    width: 110px;
}

.interview {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}

.editApplicant {
    width: 60px;
}

.openCV {
    width: 150px;
    position: absolute;
    top: 210px;
    left: 0;
}

.interviewed .applicant .openCV {
    top: 158px;
}

.interviewed .applicant {
    height: 210px !important;
    min-height: 210px !important;
}

.interviewed .applicant .profile {
    height: 210px !important;
    min-height: 210px !important;
}

.interviewed .applicant .info {
    height: 210px !important;
    min-height: 210px !important;
}

.interviewed .applicant .profile dl.addingSchedule {
    margin-bottom: 10px !important;
}

.employ {
    float: right;
    font-size: 1em;
}

a.employ {
    text-decoration: underline;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}

.file-wrapper .button {
    background: #ffffff;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px 10px;
    text-transform: uppercase;
}

.applicantContainer {
    margin-bottom: 10px;
}

input.theMostImportantSomething {
    width: 235px;
    height: 30px !important;
    min-height: 30px !important;
    background-color: #ffffff;
    padding: 5px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0.2em 2.1em 0.2em 1em !important;
}