


.timeOn {

    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;

    text-shadow: none;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 3px;
    font-weight: bold;

}




.timeUp{

    color: #41ff2b;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 0.0; }
    25% { opacity: 0.8; }
    50% { opacity: 1.0; }
    75% { opacity: 0.8; }
    100% { opacity: 0.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 0.0; }
    25% { opacity: 0.8; }
    50% { opacity: 1.0; }
    75% { opacity: 0.8; }
    100% { opacity: 0.0; }
}

@keyframes blinker {
    0% { opacity: 0.0; }
    25% { opacity: 0.8; }
    50% { opacity: 1.0; }
    75% { opacity: 0.8; }
    100% { opacity: 0.0; }
}

