<body>
<img src='cid:ItAcademyLogo'>


<h1>Dear ${name} ${surname} ! </h1>

We are pleased to inform you that you have qualified for the trainee position.<br>
For detailed information please contact with ${HRSurname} ${HRName}.
<br> < The number is ${HRPhone}. The contact email is ${HRemail}.
<br>
<br>
With best regards,<br>
SoftServe ItAcademy.

</body>