<body>
<img src='cid:ItAcademyLogo'>
<h1>Dear ${name} ${surname} ! </h1>
We regret to inform you that applicants for this position were of a very high standard and <br>on this occasion you haven't passed the interview.
Thank you for your interest in the SofteServe It Academy. <br>Please accept our best wishes as you pursue your career goals.
<br>
<br>
Best regards,<br>
SoftServe ItAcademy.
</body>